body{
	background-image: url(BAKERY.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.times {
	width: 100%;
	text-align: center;
	float: left;
	color: white;
	font-size: 40px;
}

.login{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}

.form{
	position: relative;
	z-index: 1;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.form input{
	font-family: "roboto", sans-serif;
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 20px;
}

.form button{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
}

.form button:hover,.form button:active{
	background: #43A047;
}

.form .message{
	margin: 15px 0 0;
	color: aliceblue;
	font-size: 20px;
}

.form .message a{
	color: #4CAF50;
	text-decoration: none;
}

.form .register{
	display: none;
}
