* {margin: 0; padding: 0;}
.body {
	width: 100%;
	margin: auto;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.content{
	width: 100%;
	border-radius: 20px;
}

.left {
	width: 20.05%;
	height: 50px;
	float: left;
	background-color: #708090;
	padding: 10px;
	margin-top: 0;
}

.right {
	width: 79.95%;
	height: 50px;
	float: right;
	background-color: #778899;
	padding: 10px;
	margin-top: 0;
}

.header {
	width: 100%;
}

.kiri {
	width: 17%;
	height: 600px;
	float: left;
	background-color: #008080;
	padding: 10px;
	margin-top: 0;
}
.kanan {
	width: 83%;
	height: 600px;
	float: right;
	background-color: #E0FFFF;
	padding: 10px;
	margin-top: 0;
}

.kiri li {
	list-style: none;
	float: left;
	margin-right: 10px;
	margin-top: 20px;
	list-style-type: none;
	width: 200px;
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
}

.kiri li a {
	text-decoration: none;
	text-decoration: none;
	padding: 5px;
}

.kanan isi {
	width: 500px;
	height: 50px;
}