#menu_ver {
    font-weight: 600;
    width: 17%; }
#menu_ver ul, li {
  list-style: none;
  margin: 0;
  padding: 0; 
}
#menu_ver ul li.hover,
#menu_ver ul li:hover { position: relative; z-index: 599; }
#menu_ver ul ul{
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
}
#menu_ver ul li:hover > ul { visibility: visible; }
#menu_ver ul ul { top: 0; left: 100%; }
#menu_ver span, #menu_ver a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none; }
#menu_ver li { background: #005555; }
#menu_ver li:hover, #menu_ver li.active { background: #5FD367; }
#menu_ver a {
    color: #FFF;
    line-height: 160%;
    padding: 16px 8px 16px 28px;
    width: 164px; }
#menu_ver ul ul li {
    background: #006C6C;
    border-bottom: 1px solid #007171; }
#menu_ver ul ul li:hover { background: #5FD367; }